@import 'globals';

#about {
  min-height: fit-content;
  background-color: $clr--neutral;
  color: $clr--secondary;


  .content-wrapper {
    display: grid;
    place-items: center;
    padding: 4rem;

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      left: 10vw;
      text-wrap: pretty;
      text-align: justify;
      
      h1 {
        font-size: $fs-650;
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
          min-width: 250px;
          max-width: 90%;
          font-size: $fs-300;
          bottom: calc(80vh * 0.25);
        }
      }
    }
  }
}

@media (max-width: 675px) {
  #about {
    min-height: 60vh;
    .content-wrapper {
      padding: 3rem 2rem;
      display: block;

      .text-content {
        width: 80%;
        gap: 1rem;
        text-align: unset;
        h1 {
          font-size: $fs-400;
        }

        li {
          font-size: $fs-200;
          font-weight: $fw-light;
        }
      }
    }
  }
}
