@import 'globals';

#about {
  min-height: 60vh;
  width: 100%;

  display: grid;
  place-content: center;

  background-color: $clr--neutral;
  color: $clr--primary;
  overflow: hidden;

  clip-path: ellipse(99% 60% at 70% 60%);

  .content-wrapper {
    max-width: $max-width;
    padding: 4rem;
    display: grid;

    .text-content {
      min-width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      left: 10vw;
      text-wrap: pretty;
      text-align: justify;

      h1 {
        font-size: $lsh1-fs;
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        li {
          min-width: 250px;
          font-size: $lsp-fs;
          bottom: calc(80vh * 0.25);
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media (max-width: 675px) {
  #about {
    min-height: 60vh;
    .content-wrapper {
      padding: 3rem 2rem;
      display: block;

      .text-content {
        text-align: unset;
        gap: 1rem;
        h1 {
          font-size: $ssh2-fs;
        }

        ul {
          li {
            font-size: $ssp-fs;
            font-weight: $fw-light;
            width: 90%;
          }
        }
      }
    }
  }
}
