@import 'globals';

#about {
  min-height: fit-content;
  .content-wrapper {
    display: grid;
    place-items: center;
    padding: 4rem;

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      left: 10vw;

      h1 {
        font-size: $fs-650;
      }
      .about-me {
        min-width: 250px;
        max-width: 90%;
        font-size: $fs-400;
        bottom: calc(80vh * 0.25);
      }
    }
  }
}

@media (max-width: 675px) {
  #about {
    min-height: 60vh;
    .content-wrapper {
      padding: 3rem 2rem;

      .text-content {
        width: 90%;
        gap: 1rem;
        h1 {
          font-size: $fs-400;
        }

        .about-me {
          font-size: $fs-300;
          font-weight: $fw-light;
        }
      }
    }
  }
}
