@import 'globals';

#form {
  min-height: 100vh;
  width: 100%;

  display: flex;
  place-content: center;

  background-color: $clr--accent;
  color: $clr--secondary;

  .content-wrapper {
    min-height: 100%;

    max-width: $max-width;
    min-width: $max-width;

    padding: 4rem;
    display: flex;
    flex-direction: column;

    .form-title {
      font-size: $lsh2-fs;
    }

    .form-field {
      min-height: 100%;
      min-width: 100%;
      flex-grow: 1;

      position: relative;
      padding: 10rem 2rem;
      border-radius: 1rem;
      margin: 0 auto;

      display: flex;
      flex-direction: column;

      .single-question {
        display: flex;
        flex-direction: column;

        h1 {
          font-size: $lsh3-fs;
          margin: 2rem 0 0 0;
        }

        input[type='text-area'],
        textarea,
        input[type='email'] {
          outline: none;
          margin-top: 0;
          margin-bottom: 2rem;
          background-color: inherit;
          padding: 12px 50px 12px 0;
          border: none;
          border-bottom: 2px solid $clr--secondary;
          font-size: $lsp-fs;
          color: $clr--secondary;
        }

        .non-text {
          font-size: $lsp-fs;
          input {
            margin: 1rem;
            outline: none;
          }
        }
      }

      .prev-next-buttons {
        padding-block: 0 2rem;
        display: flex;
        flex-direction: row;
        margin-top: auto;

        button {
          margin-right: 1rem;
        }
      }

      .progress {
        position: absolute;
        top: 5px;
        left: 0;
        height: 5px;
        background-color: $clr--primary;
        border-radius: inherit;
        transition: width 0.25s ease-in-out;
      }
    }
  }
}
