*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(35, 100%, 91%);
  line-height: 1.5;
  position: relative;
}

.primary-button, .secondary-button {
  height: 2rem;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 2rem !important;
  align-items: center;
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 100vw;
  border: none;
  background-color: hsl(347, 91%, 46%);
  color: hsl(35, 100%, 91%);
  cursor: pointer;
  transition: all 0.25s ease;
}
.primary-button:hover, .secondary-button:hover {
  box-shadow: 0 2px hsl(35, 100%, 91%);
  transform: translateY(-0.25rem);
  font-weight: 800;
  color: hsl(35, 100%, 91%);
}
.primary-button:active, .secondary-button:active {
  transform: translateY(0);
  background-color: hsl(347, 91%, 46%);
  color: hsl(35, 100%, 91%);
  box-shadow: none;
}

.secondary-button {
  background-color: hsl(347, 91%, 46%);
  color: hsl(35, 100%, 91%);
}

#website-by {
  display: block;
  padding: 0.5rem;
  background-color: hsl(250, 78%, 11%);
  color: hsl(35, 100%, 91%);
  font-size: 0.5625rem;
  text-align: right;
  font-style: italic;
}

#form {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(250, 78%, 11%);
  color: hsl(35, 100%, 91%);
}
#form .content-wrapper {
  min-height: inherit;
  max-width: 1200px;
  width: 100%;
  padding: 4rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: start;
}
#form .content-wrapper .form-title {
  font-size: 1.75rem;
}
#form .content-wrapper .progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#form .content-wrapper .progress .progress-bar {
  height: 5px;
  background-color: hsl(347, 91%, 46%);
  border-radius: 8px;
  transition: width 0.25s ease-in-out;
}
#form .content-wrapper .progress .nominal-progress {
  min-width: -moz-fit-content;
  min-width: fit-content;
}
#form .content-wrapper .form-field {
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#form .content-wrapper .form-field .single-question {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
#form .content-wrapper .form-field .single-question h1 {
  font-size: 1.375rem;
  margin: 2rem 0 0 0;
}
#form .content-wrapper .form-field .single-question input[type=text-area],
#form .content-wrapper .form-field .single-question textarea,
#form .content-wrapper .form-field .single-question input[type=email] {
  outline: none;
  margin-top: 0;
  margin-bottom: 2rem;
  background-color: inherit;
  padding: 12px 50px 12px 0;
  border: none;
  border-bottom: 2px solid hsl(89, 29%, 34%);
  font-size: 1.125rem;
  color: hsl(35, 100%, 91%);
}
#form .content-wrapper .form-field .single-question textarea {
  width: 50%;
}
#form .content-wrapper .form-field .single-question .non-text {
  font-size: 1.125rem;
}
#form .content-wrapper .form-field .single-question .non-text input {
  margin: 1rem;
  outline: none;
}
#form .content-wrapper .form-field .prev-next-buttons {
  padding-block: 0 2rem;
  display: flex;
  flex-direction: row;
}
#form .content-wrapper .form-field .prev-next-buttons button {
  margin-right: 1rem;
}

@media (max-width: 675px) {
  #form {
    overflow: hidden;
    min-height: 80vh;
  }
  #form .content-wrapper {
    max-width: 100%;
    padding: 4rem 2rem;
  }
  #form .content-wrapper .form-title {
    font-size: 1.375rem;
  }
  #form .content-wrapper .progress .nominal-progress {
    font-size: 0.65625rem;
  }
  #form .content-wrapper .form-field .single-question h1 {
    font-size: 1.125rem;
  }
  #form .content-wrapper .form-field .single-question input[type=text-area],
  #form .content-wrapper .form-field .single-question textarea,
  #form .content-wrapper .form-field .single-question input[type=email] {
    font-size: 0.875rem;
  }
  #form .content-wrapper .form-field .single-question textarea {
    width: 50%;
  }
  #form .content-wrapper .form-field .single-question .non-text {
    font-size: 0.875rem;
  }
  #form .content-wrapper .form-field .prev-next-buttons {
    padding-block: 0 2rem;
    display: flex;
    flex-direction: row;
  }
  #form .content-wrapper .form-field .prev-next-buttons button {
    margin-right: 1rem;
  }
}/*# sourceMappingURL=form.css.map */