// ! colours
$clr--neutral: hsla(35, 100%, 91%, 100%); // coral-reef
$clr--primary: hsla(347, 91%, 46%, 100%);
$clr--secondary: hsla(89, 29%, 34%, 100%); // lunar-green
$clr--accent: hsla(250, 78%, 11%, 100%); // granny-smith

// ! fonts
// family
$ff-base: 'Karla', sans-serif;

// weight
$fw-light: 200;
$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 600;
$fw-black: 800;

// size
$fs-100: 0.5rem;
$fs-200: 0.875rem;
$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-500: 1.375rem;
$fs-600: 1.75rem;
$fs-650: 2.5rem;
$fs-700: 3.25rem;

// !max-width
$max-width: 1200px;

// !navbar related
$__nav-height: 75px;

// !element-specific variables
// Large Screens
$lsh1-fs: $fs-700;
$lsh2-fs: $fs-650;
$lsh3-fs: $fs-500;
$lsp-fs: $fs-500;

// Small Screens
$ssh1-fs: $fs-600;
$ssh2-fs: $fs-500;
$ssh3-fs: $fs-400;
$ssp-fs: $fs-200;

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
  display: block;
}

body {
  font-family: $ff-base;
  font-size: $fs-300;
  font-weight: $fw-regular;
  color: $clr--neutral;
  line-height: 1.5;
  position: relative;
}

.primary-button {
  padding: 1.25rem 2rem !important;
  align-items: center;
  display: flex;

  font-family: $ff-base;
  font-size: calc($lsp-fs * 0.85);
  font-weight: $fw-regular;

  border-radius: 100vw;
  border: none;
  background-color: $clr--primary;
  color: $clr--neutral;

  transition: all 0.25s ease;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 2px $clr--neutral;
    transform: translateY(-0.25rem);
    font-weight: $fw-black;
    color: $clr--neutral;
  }

  &:active {
    transform: translateY(0);
    background-color: $clr--primary;
    color: $clr--neutral;
    box-shadow: none;
  }

  @media (max-width: 675px) {
    padding: 0.85rem 1.5rem !important;
    font-size: $ssp-fs;
  }
}

.secondary-button {
  @extend .primary-button;
  background-color: $clr--primary;
  color: $clr--neutral;
}

#website-by {
  display: block;
  padding: 0.5rem;

  background-color: $clr--accent;
  color: $clr--neutral;

  font-size: calc($lsp-fs * 0.5);
  text-align: right;
  font-style: italic;
}

#decorated-text {
  width: fit-content;
  margin: 0;
  padding: 0;
  display: inline;
  text-wrap: wrap;
}
