@import 'globals';

#hero {
  background-image: url('../assets/Daria-bike.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  min-height: 100vh;
  width: 100%;

  position: relative;
  z-index: 1;

  display: grid;
  place-content: center;

  
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 5%;
  .overlay {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 5%;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.45);
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .content-wrapper {
    z-index: 100;
    max-width: $max-width;
    padding-top: calc($__nav-height / 2);
    padding-inline: 4rem;

    display: grid;
    gap: 2rem;

    .hero-title {
      font-size: calc($lsh1-fs * 1.5);
    }

    .hero-text {
      max-width: 50%;
      font-size: $lsp-fs;
    }
  }
}

@media (max-width: 675px) {
  #hero {
    h1 {
      font-size: $ssh1-fs;
    }

    .content-wrapper {
      padding: 2rem !important;
    }

    .hero-title {
      font-size: $ssh1-fs !important;
    }

    .hero-text {
      font-size: $fs-200 !important;
      max-width: 75% !important;
    }
  }
}
