@import 'globals';

.nav-wrapper {
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0.1px 5px 0.5px rgba(0, 0, 0, 0.25);

  position: absolute;
}

a {
  text-decoration: none;
  color: $clr--neutral;

  &:hover {
    color: $clr--primary;
  }
}

nav {
  max-width: $max-width;
  flex-grow: 1;
  margin-inline: 1rem;
  height: $__nav-height;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-inline: 1rem;
    font-size: $lsh3-fs;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-left: auto;
    font-size: $lsp-fs;
  }

  .menu-icon {
    width: 40px;
    display: none;
    fill: $clr--neutral;
    cursor: pointer;

    &:hover {
      fill: $clr--primary;
    }
  }
}

/* CSS rules for small devices */
@media (max-width: 675px) {
  nav {
    width: 100%;
    height: $__nav-height * 0.75;

    .logo {
      font-size: $ssp-fs;
    }

    ul {
      display: none;
    }

    .primary-button {
      display: none !important;
    }

    .menu-icon {
      display: initial;
      width: 20px;
      margin-inline: 0.5rem;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $clr--accent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  height: 100%;

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: $ssh1-fs;
    font-weight: $fw-regular;
    height: 100%;

    a:active {
      color: $clr--neutral;
      scale: 1.1;
    }
  }
  .menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
  }
}
