*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-color: hsl(347, 91%, 46%);
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(35, 100%, 91%);
  line-height: 1.5;
  position: relative;
}

.primary-button, .secondary-button {
  height: 2rem;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 2rem !important;
  align-items: center;
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 100vw;
  border: none;
  background-color: hsl(347, 91%, 46%);
  color: hsl(35, 100%, 91%);
  cursor: pointer;
  transition: all 0.25s ease;
}
.primary-button:hover, .secondary-button:hover {
  box-shadow: 0 2px hsl(35, 100%, 91%);
  transform: translateY(-0.25rem);
  font-weight: 800;
  color: hsl(35, 100%, 91%);
}
.primary-button:active, .secondary-button:active {
  transform: translateY(0);
  background-color: hsl(347, 91%, 46%);
  color: hsl(35, 100%, 91%);
  box-shadow: none;
}

.secondary-button {
  background-color: hsl(347, 91%, 46%);
  color: hsl(35, 100%, 91%);
}

#website-by {
  display: block;
  padding: 0.5rem;
  background-color: hsl(250, 78%, 11%);
  color: hsl(35, 100%, 91%);
  font-size: 0.5625rem;
  text-align: right;
  font-style: italic;
}

.nav-wrapper {
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0.1px 5px 0.5px rgba(0, 0, 0, 0.25);
  position: absolute;
}

a {
  text-decoration: none;
  color: hsl(35, 100%, 91%);
}
a:hover {
  color: hsl(347, 91%, 46%);
}

nav {
  max-width: 1200px;
  flex-grow: 1;
  margin-inline: 1rem;
  height: 75px;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  margin-inline: 1rem;
  font-size: 1.375rem;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-left: auto;
  font-size: 1.125rem;
}
nav .menu-icon {
  width: 40px;
  display: none;
  fill: hsl(35, 100%, 91%);
  cursor: pointer;
}
nav .menu-icon:hover {
  fill: hsl(347, 91%, 46%);
}

/* CSS rules for small devices */
@media (max-width: 675px) {
  .nav-wrapper {
    position: fixed;
    z-index: 10000;
  }
  .nav-wrapper nav {
    height: 56.25px;
  }
  .nav-wrapper nav .logo {
    font-size: 0.875rem;
  }
  .nav-wrapper nav ul {
    display: none;
  }
  .nav-wrapper nav .primary-button, .nav-wrapper nav .secondary-button {
    display: none !important;
  }
  .nav-wrapper nav .menu-icon {
    display: initial;
    width: 20px;
    margin-inline: 0.5rem;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(250, 78%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100vw;
  height: 100vh;
}
.modal .modal-content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 400;
  height: 100%;
}
.modal .modal-content a:active {
  color: hsl(35, 100%, 91%);
  scale: 1.1;
}
.modal .menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  margin: 0 !important;
}/*# sourceMappingURL=navigation.css.map */