@import 'globals';

#products {
  background-color: $clr--neutral;
  color: $clr--secondary;

  min-height: 80vh;
  width: 100%;

  position: relative;

  display: grid;
  place-content: center;

  .content-wrapper {
    display: grid;
    place-items: center;
    padding-inline: 4rem;
    gap: 5rem;
    max-width: 1500px;

    h1 {
      font-size: $fs-650;
      width: 100%;
      text-align: right;
    }

    .services-list {
      padding: 0;
      display: grid;
      grid-auto-flow: column;
      list-style: none;
      gap: 4rem;

      .single-service {
        max-width: 500px;
        text-align: center;
        display: grid;
        gap: 1rem;

        h3 {
          font-size: $fs-500;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #products {
    min-height: 60vh;
    .content-wrapper {
      display: flex;
      flex-direction: column;
      padding: 4rem 2rem;
      gap: 2rem;

      h1 {
        font-size: $fs-600;
      }

      .services-list {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .single-service {
          text-align: center;
          display: grid;
          gap: 0.5rem;

          h3 {
            font-size: $fs-400;
          }

          p {
            font-size: $fs-200;
          }
        }
      }
    }
  }
}
