@import 'globals';

#products {
  min-height: 60vh;

  background-color: $clr--secondary;
  color: $clr--neutral;

  display: grid;
  place-content: center;
  position: relative;

  .content-wrapper {
    max-width: $max-width;
    padding: 4rem;

    display: grid;
    place-items: center;
    gap: 5rem;

    h1 {
      font-size: $lsh1-fs;
      width: 100%;
      text-align: left;

      @media (max-width: 675px) {
        font-size: $ssh2-fs;
      }
    }

    .services-list {
      padding: 0;
      display: grid;
      grid-auto-flow: column;
      gap: 4rem;

      .single-service {
        min-width: fit-content;
        flex-grow: 1;
        text-align: center;
        display: grid;
        gap: 1rem;

        .service-name {
          font-size: calc($lsh3-fs * 1.25);
          font-weight: $fw-bold;
        }

        .service-text {
          font-size: $lsp-fs;
        }

        .tooltip-icon {
          display: inline-block;
          fill: $clr--primary;
          width: 12px;
          margin-bottom: 5px;

          &:hover {
            cursor: pointer;
            fill: $clr--accent;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #products {
    .content-wrapper {
      display: flex;
      flex-direction: column;
      padding: 4rem 2rem;
      gap: 2rem;

      .services-list {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .single-service {
          text-align: center;
          display: grid;
          gap: 0.5rem;

          .service-name {
            font-size: $ssh3-fs;
          }

          .service-text {
            font-size: $ssp-fs;
          }

          p {
            font-size: $ssp-fs;
          }
        }
      }
    }
  }
}
