@import 'globals';

#products {
  min-height: 70vh;
  background-color: $clr--neutral;
  color: $clr--secondary;

  width: 100%;

  position: relative;

  display: grid;
  place-content: center;

  .content-wrapper {
    max-width: $max-width;
    padding: 4rem;

    display: grid;
    place-items: center;

    gap: 5rem;

    h1 {
      font-size: $lsh1-fs;
      width: 100%;
      text-align: right;
    }

    .services-list {
      padding: 0;
      display: grid;
      grid-auto-flow: column;
      list-style: none;
      gap: 4rem;

      .single-service {
        max-width: 250px;
        text-align: center;
        display: grid;
        gap: 1rem;

        h3 {
          font-size: $lsh3-fs;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #products {
    min-height: 60vh;
    .content-wrapper {
      display: flex;
      flex-direction: column;
      padding: 4rem 2rem;
      gap: 2rem;

      h1 {
        font-size: $ssh2-fs;
      }

      .services-list {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .single-service {
          text-align: center;
          display: grid;
          gap: 0.5rem;

          h3 {
            font-size: $ssh3-fs;
          }

          p {
            font-size: $ssp-fs;
          }
        }
      }
    }
  }
}
