@import 'globals';

$__height: 80vh;

#team-up {
  position: relative;
  min-height: $__height;

  img {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0.75;
  }

  .content-wrapper {
    position: relative;
    min-height: $__height;

    .text-content {
      position: absolute;
      right: 10%;
      top: 20%;
      width: 60%;

      h1 {
        font-size: $fs-650;
      }

      ul {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
          list-style-type: none;
        }
      }
    }
  }
}
