@import 'globals';

#team-up {
  min-height: 70vh;
  width: 100%;

  display: grid;
  place-content: center;

  .content-wrapper {
    max-width: $max-width;
    padding: 4rem;

    display: grid;
    gap: 2rem;

    h1 {
      grid-column-start: 1;
      font-size: $lsh1-fs;
      text-decoration: underline wavy 10px $clr--accent;
      text-underline-offset: 20px;
      text-decoration-thickness: 10px;
      margin-bottom: 2rem;
    }
    img {
      grid-column-start: 2;
      grid-row-start: 2;
      width: 600px;
      float: left;
    }

    .text-content {
      grid-row-start: 2;

      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media (max-width: 675px) {
  #team-up {
    
    .content-wrapper {
      display: flex;
      flex-direction: column;
      padding: 4rem 2rem;
      gap: 1rem;
      z-index: 1000;

      img {
        width: 300px;
        top: 15%;
        left: 0;
        opacity: 1;
        z-index: -1;
      }

      h1 {
        font-size: $ssh2-fs;
      }

      .text-content {
        font-size: $ssp-fs;
      }
    }
  }
}
