@import 'globals';

#testimonials {
  background-color: $clr--neutral;
  color: $clr--primary;

  min-height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content-wrapper {
    max-width: $max-width;
    padding: 4rem;

    h1 {
      margin: 0 0 2rem 4rem;
      font-size: $fs-600;
      width: 90%;
    }

    .single-testimonial {
      gap: 0.1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-inline: 1rem;
      padding-block: 2rem;

      .card-top {
        display: flex;
        align-items: center;

        .full-name {
          margin: 1rem;
        }
      }
    }
  }
}

.slick-slider > button:first-of-type {
  left: 2rem !important;
}

.slick-slider > button:last-of-type {
  right: 2rem !important;
}

.slick-dots > li > button:before {
  color: $clr--primary;
}
.slick-dots > li.slick-active > button:before {
  color: $clr--accent;
}

.slick-prev:before,
.slick-next:before {
  color: $clr--accent;
}

@media (max-width: 1024px) {
  #testimonials {
    min-height: fit-content;

    .content-wrapper {
      padding: 4rem;
      width: 100%;
      h1 {
        margin: unset;
        font-size: $fs-400;
      }
    }
  }
}

@media (max-width: 675px) {

  #testimonials {
    min-height: fit-content;

    .content-wrapper {
      padding: 4rem 2rem;
      width: 100%;
      h1 {
        margin: unset;
        font-size: $fs-400;
      }
    }
  }

  .slick-slider > button {
    display: none !important;
  }

  .single-testimonial {
    padding-inline: unset !important;
    padding-block: 1rem !important;
    width: 90% !important;

    .card-top {
      .full-name {
        margin: 1rem;
        font-size: $fs-200;
      }
    }
    .card-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: $fs-200;
    }
  }
}
