@import 'globals';

  .svg-wrap {
    position: absolute;
    width: 0px;
    height: 0px;
  }

  section {
    position: relative;
    z-index: 1;
    display: inline;
    backface-visibility: hidden;
  }

  section #decorated-text {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    fill: none;
    
  }

  #decorated-text svg.underline {
    position: absolute;
    z-index: -10;
    height: 100%;
    transform: translateY(-50%);
    stroke-width: 4px;
    opacity: 0.5;
  }

  #decorated-text svg.highlight {
    position: absolute;
    z-index: -1;
    height: 100%;
    opacity: 0.5;
    transform: translateY(-100%);
    stroke-width: 60px;
    stroke-dashoffset: 0px;
  }
